img {
  width: 90px;
  margin: 08px;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  margin: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 260px;

  background-color: rgb(244, 247, 247);
}

.l {
  width: 10px;
}

.col {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
